/*.modal-backdrop {
	z-index: -1;
}*/
.pad {
	padding: 5px;
}
.modal-backdrop {
	z-index: -1;
}

#table {
	
	table-layout: fixed !important;
	word-wrap: break-word;
}
/*#button {
	width: 100%;
	white-space: nowrap;
}*/
