


<h1 class="page-title">
	Summary of Monthly Vacations

	<small></small>
</h1>

<div class="col-md-12">




	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group ">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-building"></i>
					</div>
					<div class="input-group-text -bg-white">
						<mat-form-field>
							<mat-label>Select Sector</mat-label>
							<select matNativeControl id="mySelectId">
								<option value="" disabled selected></option>
								<option value=""></option>
								<option value=""></option>

							</select>
						</mat-form-field>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group ">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-building"></i>
					</div>
					<div class="input-group-text -bg-white">
						<mat-form-field>
							<mat-label>Select Administration</mat-label>
							<select matNativeControl id="mySelectId">
								<option value="" disabled selected></option>
								<option value=""></option>
								<option value=""></option>

							</select>
						</mat-form-field>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group ">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-building"></i>
					</div>
					<div class="input-group-text -bg-white">
						<mat-form-field>
							<mat-label>Select Department</mat-label>
							<select matNativeControl id="mySelectId">
								<option value="" disabled selected></option>
								<option value=""></option>
								<option value=""></option>

							</select>
						</mat-form-field>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-calendar-alt"> Financial Year</i>
					</div>
				</div>
				<input class="form-control" type="date">
			</div>
		</div>
	</div>

	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group ">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-building"></i>
					</div>
					<div class="input-group-text -bg-white">
						<mat-form-field>
							<mat-label>Select Includes Datainees</mat-label>
							<select matNativeControl id="mySelectId">
								<option value="" disabled selected></option>
								<option value=""></option>
								<option value=""></option>

							</select>
						</mat-form-field>
					</div>
				</div>

			</div>
		</div>
	</div>














</div>










<!--<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the sectors list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Prev</span>
			</a>
			<!-- <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">

					<span class="kt-hidden-mobile">Next</span>
					<i class="la la-arrow-right"></i>
				</a> -->
<!--<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
	<span class="kt-hidden-mobile">Save</span>
</a>
<!-- <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
		<span class="kt-hidden-mobile">Edit</span>
</a> -->
<!--<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
	<i class="la la-cog"></i>
	<span class="kt-hidden-mobile">Reset</span>
</a>
<!-- <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
	<span class="kt-hidden-mobile">Search</span>
</a>
<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
	<span class="kt-hidden-mobile">NEW</span>
</a> -->
<!--<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
	<mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
	<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
	<button mat-menu-item color="primary">Save & Duplicate</button>
	<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
</mat-menu>
		</ng-container>
	</kt-portlet-header>
<kt-portlet-body>
	<div>

		<form [formGroup]="dataForm" class="kt-form kt-form--group-seperator-dashed">
			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>
			<div class="kt-form__section kt-form__section--first">
				<div class="kt-form__group">
					<div class="row">

						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Enter Sector" formControlName="selector">
									<mat-option value="{{selector}}" *ngFor="let selector of AVAILABLE_SECTOR">{{selector}}</mat-option>
								</mat-select>
								<mat-error>
									Sector
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Sector</strong>
								</mat-hint>
							</mat-form-field>

						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Enter Administrator" formControlName="administrator">
									<mat-option value="{{administrator}}" *ngFor="let administrator of AVAILABLE_ADMINISTRATOR">{{administrator}}</mat-option>
								</mat-select>
								<mat-error>
									Administrator
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Administrator</strong>
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Enter Department" formControlName="department">
									<mat-option value="{{department}}" *ngFor="let department of AVAILABLE_DEPARTMENT">{{department}}</mat-option>
								</mat-select>
								<mat-error>
									Department
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Department</strong>
								</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="kt-form__group">
					<div class="row">
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [matDatepicker]="financialyear"
									   placeholder="Choose a Date Of Financial Year"
									   formControlName="financialyear">
								<mat-datepicker-toggle matSuffix [for]="financialyear"></mat-datepicker-toggle>
								<mat-datepicker #financialyear></mat-datepicker>
								<mat-hint align="start">
									Please enter
									<strong>Date Of  Financial Year</strong> in 'mm/dd/yyyy' format
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Enter Includes Datainees" formControlName="includesdatainees">
									<mat-option value="{{includesdatainees}}" *ngFor="let includesdatainees of AVAILABLE_INCLUDESDATAINEES">{{includesdatainees}}</mat-option>
								</mat-select>
								<mat-error>
									Includes Datainees
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Includes Datainees</strong>
								</mat-hint>
							</mat-form-field>

						</div>

					</div>
				</div>

			</div>
		</form>
	</div>
</kt-portlet-body>
</kt-portlet>  -->
