



<h1 class="page-title">
	
	Vacation Stock Ramping
	<small></small>
</h1>

<div class="col-md-12">
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group ">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-poll-h"></i>
					</div>
					<div class="input-group-text -bg-white">
						<h6>Fliter Types</h6>
					</div>

					<mat-radio-group aria-label="Employee Services User">
						<mat-radio-button value="1">Hiring</mat-radio-button>
						<mat-radio-button value="2">Age</mat-radio-button>

					</mat-radio-group>
				</div>

			</div>
		</div>
		<div class="col-md-2">
			</div>

			<div class="col-md-4">
				<div class="input-group ">

					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="far fa-calendar-alt"> Hiring Date</i>
						</div>
					</div>
					<input type="date" class="form-control" placeholder="Hiring Date" required>



				</div>


			</div>
		</div>
	


		

	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group ">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-id-card-alt"></i>
					</div>
					<div class="input-group-text -bg-white">
						<h6>Age</h6>
					</div>

					<mat-radio-group aria-label="Employee Services User">
						<mat-radio-button value="1">Greater Than</mat-radio-button>
						<mat-radio-button value="2">Smaller Than</mat-radio-button>

					</mat-radio-group>
				</div>

			</div>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-id-card-alt"></i>
					</div>
				</div>
				<input type="number" class="form-control" placeholder="Age">
			</div>
		</div>
	</div>









		

		<div class="row pad">
			<div class="col-md-4">
				<div class="input-group ">
					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="fas fa-poll-h"></i>
						</div>
						<div class="input-group-text -bg-white">
							<h6>Years of Service</h6>
						</div>

						<mat-radio-group aria-label="Employee Services User">
							<mat-radio-button value="1">Greater Than</mat-radio-button>
							<mat-radio-button value="2">Smaller Than</mat-radio-button>

						</mat-radio-group>
					</div>

				</div>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-4">
				<div class="input-group ">
					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="fas fa-poll-h"></i>
						</div>
						<div class="input-group-text -bg-white">
							<h6>Months of Service</h6>
						</div>

						<mat-radio-group aria-label="Employee Services User">
							<mat-radio-button value="1">Greater Than</mat-radio-button>
							<mat-radio-button value="2">Smaller Than</mat-radio-button>

						</mat-radio-group>
					</div>

				</div>
			</div>


		</div>
		






		<div class="row pad">
			<div class="col-md-4">
				<div class="input-group pad">
					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="far fa-building"></i>
						</div>
					</div>
					<input class="form-control" placeholder="Administrative structure liquidation">
				</div>
			</div>
			<div class="col-md-2">
			</div>

			<div class="col-md-4">
				<div class="input-group pad">
					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="far fa-building"></i>
						</div>
					</div>
					<input class="form-control" placeholder="Administration">
				</div>
			</div>
		</div>
		
		<div class="row pad">

			<div class="col-md-4">
				<div class="input-group ">
					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="far fa-building"></i>
						</div>

						<div class="input-group-text -bg-white">
							<mat-form-field>
								<mat-label>Select Department</mat-label>
								<select class="form-control " matNativeControl required>
									<option value="" disabled selected></option>
									<option value=""></option>
									<option value=""></option>

								</select>



							</mat-form-field>


						</div>
					</div>

				</div>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-4">
				<div class="input-group ">
					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="fas fa-user"></i>
						</div>

						<div class="input-group-text -bg-white">
							<mat-form-field>
								<mat-label> Employee</mat-label>
								<select class="form-control " matNativeControl required>
									<option value="" disabled selected></option>
									<option value=""></option>
									<option value=""></option>

								</select>



							</mat-form-field>


						</div>
					</div>

				</div>
			</div>



		</div>
	
		<div class="row pad">

			<div class="col-md-4">
				<div class="input-group ">
					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="fas fa-poll-h"></i>
						</div>

						<div class="input-group-text -bg-white">
							<mat-form-field>
								<mat-label>Vacation Type</mat-label>
								<select class="form-control " matNativeControl required>
									<option value="" disabled selected></option>
									<option value=""></option>
									<option value=""></option>

								</select>



							</mat-form-field>


						</div>
					</div>

				</div>
			</div>
			<div class="col-md-2">
			</div>

			<div class="col-md-4">
				<div class="input-group pad">
					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="fas fa-poll"></i>
						</div>
					</div>
					<input type="number" class="form-control" placeholder="Number of Days">
				</div>
			</div>


		</div>

		





		<div class="row pad">
			<div class="col-md-4">
				<div class="input-group pad">
					<div class="input-group-prepend">
						<div class="input-group-text -bg-white">
							<i class="fas fa-poll-h"></i>
						</div>
					</div>
					<input class="form-control" placeholder="Edit Reason">
				</div>
			</div>
		</div>













	</div>







	<!--kt-portlet>
		<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
			<ng-container ktPortletTools>
				<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the sectors list">
					<i class="la la-arrow-left"></i>
					<span class="kt-hidden-mobile">Prev</span>
				</a>
				<!-- <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">

						<span class="kt-hidden-mobile">Next</span>
						<i class="la la-arrow-right"></i>
					</a> -->
	<!--
	<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
		<span class="kt-hidden-mobile">Save</span>
	</a>
	<!-- <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
			<span class="kt-hidden-mobile">Edit</span>
	</a> -->
	<!--a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
		<i class="la la-cog"></i>
		<span class="kt-hidden-mobile">Reset</span>
	</a>
	<!-- <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
		<span class="kt-hidden-mobile">Search</span>
	</a>
	<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
		<span class="kt-hidden-mobile">NEW</span>
	</a> -->
	<!--button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
		<button mat-menu-item color="primary">Save & Duplicate</button>
		<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
	</mat-menu>
			</ng-container>
		</kt-portlet-header>
	<kt-portlet-body>
		<div>

			<form [formGroup]="dataForm" class="kt-form kt-form--group-seperator-dashed">
				<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
					Oh snap! Change a few things up and try submitting again.
				</kt-alert>
				<div class="kt-form__section kt-form__section--first">
					<div class="kt-form__group">
						<div class="row">
							<div class="col-md-3 kt-margin-bottom-10-mobile">
								<div>Filter Type:</div>
								<mat-radio-group formControlName="filtertype" class="example-radio-group">
									<mat-radio-button class="example-radio-button" value="0">Hiring</mat-radio-button>
									<mat-radio-button class="example-radio-button" value="1">Age</mat-radio-button>
								</mat-radio-group>
							</div>
							<div class="col-md-3 kt-margin-bottom-10-mobile">

								<mat-form-field class="mat-form-field-fluid">
									<input matInput [matDatepicker]="hiringdate"
										   placeholder="Choose a Date Of Hiring"
										   formControlName="hiringdate">
									<mat-datepicker-toggle matSuffix [for]="hiringdate"></mat-datepicker-toggle>
									<mat-datepicker #hiringdate></mat-datepicker>
									<mat-hint align="start">
										Please enter
										<strong>Date Of Hiring</strong> in 'mm/dd/yyyy' format
									</mat-hint>
								</mat-form-field>


							</div>
							<div class="col-md-3 kt-margin-bottom-10-mobile">
								<div>Age:</div>
								<mat-radio-group formControlName="age" class="example-radio-group">
									<mat-radio-button class="example-radio-button" value="0">Greater Than</mat-radio-button>
									<mat-radio-button class="example-radio-button" value="1">Smaller Than</mat-radio-button>
								</mat-radio-group>


							</div>
							<div class="col-md-3 kt-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Enter Age" formControlName="writeage">
									<mat-error>
										Age is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Age</strong>
									</mat-hint>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="kt-form__group">
						<div class="row">
							<div class="col-md-3 kt-margin-bottom-10-mobile">
								<div>Years Of Services:</div>
								<mat-radio-group formControlName="yearservice" class="example-radio-group" (change)="onSelectionChange1()">
									<mat-radio-button class="example-radio-button" value="0">Greater Than</mat-radio-button>
									<mat-radio-button class="example-radio-button" value="1">Smaller Than</mat-radio-button>
								</mat-radio-group>

							</div>
							<div class="col-md-3 kt-margin-bottom-10-mobile" *ngIf="greatervalue1">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Year Number For Greater Than" formControlName="yearofservicegreater">
									<mat-error>
										Year Number For Greater Than is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Year Number For Greater Than</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-3 kt-margin-bottom-10-mobile" *ngIf="smallervalue1">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Year Number For Smaller Than" formControlName="yearofservicesmaller">
									<mat-error>
										Year Number For Smaller Than is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Year Number For Smaller Than</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-3 kt-margin-bottom-10-mobile">
								<div>Mounths Of Services:</div>
								<mat-radio-group formControlName="yearservice" class="example-radio-group" (change)="onSelectionChange2()">
									<mat-radio-button class="example-radio-button" value="0">Greater Than</mat-radio-button>
									<mat-radio-button class="example-radio-button" value="1">Smaller Than</mat-radio-button>
								</mat-radio-group>

							</div>
							<div class="col-md-3 kt-margin-bottom-10-mobile" *ngIf="greatervalue2">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Mounth Number For Greater Than" formControlName="mounthofservicegreater">
									<mat-error>
										Mounth Number For Greater Than is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Mounth Number For Greater Than</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-3 kt-margin-bottom-10-mobile" *ngIf="smallervalue2">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Year Number For Smaller Than" formControlName="mounthofservicesmaller">
									<mat-error>
										Mounth Number For Smaller Than is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Mounth Number For Smaller Than</strong>
									</mat-hint>
								</mat-form-field>
							</div>

						</div>
					</div>
					<div class="kt-form__group">
						<div class="row">

							<div class="col-md-4 kt-margin-bottom-10-mobile">


								<mat-checkbox class="tp-margin" formControlName="administrativestructureliquidation">
									Administrative structure liquidation
								</mat-checkbox>

							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select placeholder="Enter Administrator" formControlName="administrator">
										<mat-option value="{{administrator}}" *ngFor="let administrator of AVAILABLE_ADMINISTRATOR">{{administrator}}</mat-option>
									</mat-select>
									<mat-error>
										Administrator
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Administrator</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select placeholder="Enter Department" formControlName="department">
										<mat-option value="{{department}}" *ngFor="let department of AVAILABLE_DEPARTMENT">{{department}}</mat-option>
									</mat-select>
									<mat-error>
										Department
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Department</strong>
									</mat-hint>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="kt-form__group">
						<div class="row">
							<div class="col-md-4 kt-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select placeholder="Enter Employee" formControlName="employee">
										<mat-option value="{{employee}}" *ngFor="let employee of AVAILABLE_EMPLOYEE">{{employee}}</mat-option>
									</mat-select>
									<mat-error>
										Employee
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Employee</strong>
									</mat-hint>
								</mat-form-field>
							</div>
							<div class="col-md-4 kt-margin-bottom-10-mobile">

								<mat-form-field class="mat-form-field-fluid">
									<mat-select placeholder="Enter Vacation Type" formControlName="vacationtype">
										<mat-option value="{{vacationtype}}" *ngFor="let vacationtype of AVAILABLE_VACATIONTYPE">{{vacationtype}}</mat-option>
									</mat-select>
									<mat-error>
										Vacation Type
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Vacation Type</strong>
									</mat-hint>
								</mat-form-field>

							</div>

							<div class="col-md-4 kt-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput placeholder="Enter Number Day" formControlName="AddingNumberday">
									<mat-error>
										Number Day is
										<strong>required</strong>
									</mat-error>
									<mat-hint align="start">
										Please enter
										<strong>Number Day</strong>
									</mat-hint>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="kt-form__group">
						<div class="row">
							<div class="col-md-12 kt-margin-bottom-10-mobile">
								<mat-form-field class="mat-form-field-fluid">
									<textarea matInput rows="7" placeholder="Enter Edit Reason" formControlName="editreason"></textarea>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</kt-portlet-body>
	</kt-portlet>
	-->
