<div class="container-fluid">
    <a (click)="goBackWithoutId()" class="btn btn-secondary margin-r-10"  mat-raised-button matTooltip="Back to the defines list">
        <i class="la la-arrow-left"></i>
        <span class="hidden-mobile">Prev</span>
    </a>
        <h2 class="text-center">Vacations</h2>
        <br>
        <div class="row">
          <div class="col bg-light">
            <ul type="none">
                <li>
                    <a routerLink="/personall/defines/vactions/vacationorder">Order Vacation</a>
                </li>
                <br>
                <li>
                    <a routerLink="/personall/defines/vactions/registervacation">Register Vacation</a>
                </li>
                <br>
                <li>
                    <a routerLink="/personall/defines/vactions/reviewvacationorder">Review Order Vacation</a>
                </li>
                <br>
                <li>
                    <a routerLink="/personall/defines/vactions/registerrcollectivevacation">Register Collective Vacation</a>
                </li>
                <br>
                <li>
                    <a routerLink="/personall/defines/vactions/openingleavebalances">Opening Leave Balances</a>
                </li>
                <br>
                <li>
                    <a routerLink="/personall/defines/vactions/importingleavebalances">Importing  leave Balances</a>
                </li>
                <br>
                <li>
                    <a routerLink="/personall/defines/vactions/summaryofmonthlyvacations"> Summary Of Monthly Vacations</a>
                </li>
                <br>
                <li>
                    <a routerLink="/personall/defines/vactions/vacationstockramping"> Vacation Stock Ramping</a>
                </li>
                <br>
                <li>
                    <a routerLink="/personall/defines/vactions/importvacations"> Import Vacations</a>
                </li>
                <br>
                
                <li>
                    <a routerLink="/personall/defines/vactions/vacationsettlement"> Vacation Settlement</a>
                </li>
                <br>
                <li>
                    <a routerLink="/personall/defines/vactions/vacationbalancereplacement"> Vacation Balance Replacement</a>
                </li>
                <br>
                
                
            </ul>
          </div>
          <div class="col bg-light">
          
          </div>
          <div class="col bg-light">

          </div>
        </div>
</div>
