








<h1 class="page-title">
	Vacation Settlement

	<small></small>
</h1>

<div class="col-md-12">

	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-user"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Code">
			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-calendar-alt">Date</i>
					</div>
				</div>
				<input class="form-control" type="date">
			</div>
		</div>
	</div>








	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-id-card-alt"></i>
					</div>
				</div>
				<input type="number" class="form-control" placeholder="Employee Code">
			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-user"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Employee Name">
			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-poll-h"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Job">
			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-poll-h"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Administration">
			</div>
		</div>
	</div>



	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-calendar-alt">Hiring Date</i>
					</div>
				</div>
				<input class="form-control" type="date">
			</div>
		</div>
	</div>

	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-poll-h"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Start Balance Yearly ">
			</div>
		</div>
	</div>

	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-poll-h"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Next Balance">
			</div>
		</div>
	</div>

	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-poll-h"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Current Balance">
			</div>
		</div>
	</div>





</div>






<!--<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the sectors list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Prev</span>
			</a>
			<!-- <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">

					<span class="kt-hidden-mobile">Next</span>
					<i class="la la-arrow-right"></i>
				</a> -->
<!--
<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
	<span class="kt-hidden-mobile">Save</span>
</a>
<!-- <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
		<span class="kt-hidden-mobile">Edit</span>
</a> -->
<!--<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
	<i class="la la-cog"></i>
	<span class="kt-hidden-mobile">Reset</span>
</a>
<!-- <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
	<span class="kt-hidden-mobile">Search</span>
</a>
<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
	<span class="kt-hidden-mobile">NEW</span>
</a> -->
<!--button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
	<mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
	<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
	<button mat-menu-item color="primary">Save & Duplicate</button>
	<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
</mat-menu>
		</ng-container>
	</kt-portlet-header>
<kt-portlet-body>
	<div>

		<form [formGroup]="dataForm" class="kt-form kt-form--group-seperator-dashed">
			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>
			<div class="kt-form__section kt-form__section--first">
				<div class="kt-form__group">
					<div class="row">
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Code" formControlName="code">
								<mat-error>
									Code is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Code</strong>
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">

							<mat-form-field class="mat-form-field-fluid">
								<input matInput [matDatepicker]="settlementdate"
									   placeholder="Choose a Date "
									   formControlName="settlementdate">
								<mat-datepicker-toggle matSuffix [for]="settlementdate"></mat-datepicker-toggle>
								<mat-datepicker #settlementdate></mat-datepicker>
								<mat-hint align="start">
									Please enter
									<strong>Date</strong> in 'mm/dd/yyyy' format
								</mat-hint>
							</mat-form-field>

						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Employee Code" formControlName="employeecode">
								<mat-error>
									Employee Code is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Employee Code</strong>
								</mat-hint>
							</mat-form-field>

						</div>

					</div>
				</div>
				<div class="kt-form__group">
					<div class="row">
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Employee Name" formControlName="employeename">
								<mat-error>
									Employee Name is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Employee Name</strong>
								</mat-hint>
							</mat-form-field>

						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Enter Job" formControlName="job">
								<mat-error>
									Job is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Job</strong>
								</mat-hint>
							</mat-form-field>

						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">

							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Enter Administration" formControlName="administration">
								<mat-error>
									Administration is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Administration</strong>
								</mat-hint>
							</mat-form-field>



						</div>
					</div>
				</div>
				<div class="kt-form__group">
					<div class="row">

						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [matDatepicker]="hiringdate"
									   placeholder="Choose a Hiring Date "
									   formControlName="hiringdate">
								<mat-datepicker-toggle matSuffix [for]="hiringdate"></mat-datepicker-toggle>
								<mat-datepicker #hiringdate></mat-datepicker>
								<mat-hint align="start">
									Please enter
									<strong>Hiring Date</strong> in 'mm/dd/yyyy' format
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">

							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Start Balance Yearly" formControlName="yearstartbalance">
								<mat-error>
									Start Balance Yearly is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Start Balance Yearly</strong>
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">

							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Next Balance" formControlName="balancerelay">
								<mat-error>
									Balance relay is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Balance relay</strong>
								</mat-hint>
							</mat-form-field>
						</div>

					</div>
				</div>
				<div class="kt-form__group">
					<div class="row">

						<div class="col-md-4 kt-margin-bottom-10-mobile">

							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Current Balance" formControlName="currentbalance">
								<mat-error>
									Current Balance is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Current Balance</strong>
								</mat-hint>
							</mat-form-field>
						</div>


					</div>
				</div>
			</div>
		</form>
	</div>
</kt-portlet-body>
</kt-portlet>  -->
