








<h1 class="page-title">
	Register Collactive Vacation

	<small></small>
</h1>

<div class="col-md-12">
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-calendar-alt">Registration</i>
					</div>
				</div>
				<input class="form-control" type="date">
			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-user"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Employee Administration">
			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-user"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Employee Department">
			</div>
		</div>
	</div>




	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-poll-h"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Vacation Type">
			</div>
		</div>
	</div>

	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-calendar-alt">Start Vacation</i>
					</div>
				</div>
				<input class="form-control" type="date">
			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="far fa-calendar-alt">End Vacation</i>
					</div>
				</div>
				<input class="form-control" type="date">
			</div>
		</div>
	</div>

	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-poll-h"></i>
					</div>
				</div>
				<input class="form-control" placeholder="Reason">
			</div>
		</div>
	</div>
	<div class="row pad">
		<div class="col-md-4">
			<div class="input-group pad">
				<div class="input-group-prepend">
					<div class="input-group-text -bg-white">
						<i class="fas fa-user"></i>
					</div>
				</div>
				<input type="number" class="form-control" placeholder="Number of Vacation Days">
			</div>
		</div>
	</div>








</div>









<!--<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the sectors list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Prev</span>
			</a>
			<!-- <a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10"  mat-raised-button matTooltip="Back to the products list">

					<span class="kt-hidden-mobile">Next</span>
					<i class="la la-arrow-right"></i>
				</a> -->
<!--<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
	<span class="kt-hidden-mobile">Save</span>
</a>
<!-- <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
		<span class="kt-hidden-mobile">Edit</span>
</a> -->
<!--<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
	<i class="la la-cog"></i>
	<span class="kt-hidden-mobile">Reset</span>
</a>
<!-- <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
	<span class="kt-hidden-mobile">Search</span>
</a>
<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
	<span class="kt-hidden-mobile">NEW</span>
</a> -->
<!--<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
	<mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
	<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
	<button mat-menu-item color="primary">Save & Duplicate</button>
	<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
</mat-menu>
		</ng-container>
	</kt-portlet-header>
<kt-portlet-body>
	<div>

		<form [formGroup]="dataForm" class="kt-form kt-form--group-seperator-dashed">

			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>

			<div class="kt-form__section kt-form__section--first">
				<div class="kt-form__group">
					<div class="row">
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [matDatepicker]="dateOfregisteration"
									   placeholder="Choose a Date Of Registeration"
									   formControlName="dateOfregisteration">
								<mat-datepicker-toggle matSuffix [for]="dateOfregisteration"></mat-datepicker-toggle>
								<mat-datepicker #dateOfregisteration></mat-datepicker>
								<mat-hint align="start">
									Please enter
									<strong>Date Of Registeration</strong> in 'mm/dd/yyyy' format
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Employee Administration" formControlName="employeeadministration">
								<mat-error>
									Employee Administration is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Employee Administration</strong>
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">

							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Employee Department" formControlName="employeedepartment">
								<mat-error>
									Employee Department is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Employee Department</strong>
								</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="kt-form__group">
					<div class="row">
						<div class="col-md-4 kt-margin-bottom-10-mobile">

							<mat-form-field class="mat-form-field-fluid">
								<mat-select placeholder="Enter Vacation Type" formControlName="vacationtype">
									<mat-option value="{{vacationtype}}" *ngFor="let vacationtype of AVAILABLE_VACATIONTYPE">{{vacationtype}}</mat-option>
								</mat-select>
								<mat-error>
									Vacation Type
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Vacation Type</strong>
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [matDatepicker]="dateOfstartingvacation"
									   placeholder="Choose a Date Of Start Vacation"
									   formControlName="dateOfstartingvacation">
								<mat-datepicker-toggle matSuffix [for]="dateOfstartingvacation"></mat-datepicker-toggle>
								<mat-datepicker #dateOfstartingvacation></mat-datepicker>
								<mat-hint align="start">
									Please enter
									<strong> Date Of Start Vacation</strong> in 'mm/dd/yyyy' format
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput [matDatepicker]="dateOfendingvacation"
									   placeholder="Choose a Date Of End Vacation"
									   formControlName="dateOfendingvacation">
								<mat-datepicker-toggle matSuffix [for]="dateOfendingvacation"></mat-datepicker-toggle>
								<mat-datepicker #dateOfendingvacation></mat-datepicker>
								<mat-hint align="start">
									Please enter
									<strong> Date Of End Vacation"</strong> in 'mm/dd/yyyy' format
								</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="kt-form__group">
					<div class="row">
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Enter Reason" formControlName="reason">
								<mat-error>
									Reason is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Reason</strong>
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-4 kt-margin-bottom-10-mobile">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Employee  Day Numbers of Vacation " formControlName="employeedaynumberofvacation">
								<mat-error>
									Employee Day Numbers of Vacation is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">
									Please enter
									<strong>Employee Day Numbers of Vacation</strong>
								</mat-hint>
							</mat-form-field>
						</div>

					</div>
				</div>

			</div>
		</form>
	</div>
</kt-portlet-body>
</kt-portlet> -->

