<div class="container-fluid">
    <h2 class="text-center">Personall</h2>
    <br>
    <div class="row">
      <div class="col bg-light">
        <h4>Defines</h4>
        <br>
        <ul type="none">
            <li>
              <a routerLink="/personall/defines/editvacationtype">EditVacation Type</a>
            </li>
            <br>
              <!-- <li>
                <a routerLink="/personall/defines/vacationtypelist">Vacation  Type  List</a>
              </li>
              <br> -->
            <li>
                <a routerLink="/personall/defines/sectorsectiontype">Type of sectors and sections</a>
            </li>
            <br>
            <li>
                <a routerLink="/personall/defines/administrationandsections">Administration and sections</a>
            </li>
            <br>
            <li>
              <a routerLink="/personall/defines/job">Job</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/jobtittle">Job Tittle</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/qualification">Qualification</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/educationalorganization">Educational Organization</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/faculity">Faculity</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/department">Department</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/nationality">Nationality</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/insuranceoffice">Insurance Office</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/socialstatus">Social Status</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/identification">Identification</a>
          </li>
        <br>
        </ul>
      </div>
      <div class="col bg-light">
        <ul type="none">
          <br>
          <br>
          <li>
            <a routerLink="/personall/defines/healthinsurancecategories">Health Insurance Categories</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/trainingcourses">Training Courses</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/contractypes">Contract Types</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/managerdirector">Manager Director</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/sanction">Sanction</a>
          </li>
          <br>
          <li>
            <a routerLink="/personall/defines/country">Country</a>
          </li>
          <br>
          <li>
              <a routerLink="/personall/defines/employeeData">Employee data</a>
          </li>
          <br>
          <li>
              <a routerLink="/personall/defines/vactions">Vactions</a>
          </li>
          <br>
          <li>
              <a routerLink="/personall/defines/vacationtype">Vacation Type</a>
            </li>
            <br>
           
        </ul>
      </div>
      <div class="col bg-light"></div>
    </div>
  </div>